# ignore special files or folds
*~
.idea
.DS_Store

# ignore all building results
dist
build
*.egg-info

# ignore all testing/running results
.run
.coverage
.pytest_cache
*__pycache__*
*test*
results

# ignore specific kinds of files like all PDFs
*.pdf
*.ipynb

# Add to upload C2SDI
Hanhwa
others
Experiments
docs
tests
.devcontainer
.github
TODO*